{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>EXITUS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/home"><span>EXITUS</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="{% static 'img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/home">Accueil</a></li>
                    <li><a href="/home#about">A propos</a></li>
                    <li><a href="/home#services">Nos Services</a></li>
                    <li><a href="/home#team">Notre Team</a></li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 8em; font-weight: bolder">Dashboard</h2>
                    <p></p>
                </div>
            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Counts Section ======= -->
        <section class="counts section-bg">
            <div class="container">

                <div class="row no-gutters">

                    <div class="col-lg-4 col-md-12 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-simple-smile"></i>
                            <span data-toggle="counter-up">232</span>
                            <p><strong>Banques et assurance</strong> avec lesquelles nous travaillons</p>
                            <!-- <a href="#">Find out more &raquo;</a> -->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-document-folder"></i>
                            <span data-toggle="counter-up">521</span>
                            <p><strong>Projets</strong> adipisci atque cum quia aut numquam delectus</p>
                            <!-- <a href="#">Find out more &raquo;</a> -->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-users-alt-5"></i>
                            <span data-toggle="counter-up">15</span>
                            <p><strong>Data workers</strong></p>
                            <!-- <a href="#">Find out more &raquo;</a> -->
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="data:image/png;base64,{{ subplot }}" class="img-fluid" alt="" style="">
                    </div>
                    <div class="col-lg-12">
                        <img src="data:image/png;base64,{{ histplot }}" class="img-fluid" alt="" style="height: 60em">
                    </div>
                </div>
            </div>
        </section><!-- End About Us Section -->
        <table class="table" id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Credit score</th>
                    <th scope="col">Localisation</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Age</th>
                    <th scope="col">Durée de prêt</th>
                    <th scope="col">Solde</th>
                    <th scope="col">Offre</th>
                    <th scope="col">Carte de crédit</th>
                    <th scope="col">Actif</th>
                    <th scope="col">Salaire</th>
                    <th scope="col">Classe</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.itertuples %}
                <tr>
                    <th scope="row">{{ row.CustomerId }}</th>
                    <td>{{ row.Surname }}</td>
                    <td>{{ row.CreditScore }}</td>
                    <td>{{ row.Geography }}</td>
                    <td>{{ row.Gender }}</td>
                    <td>{{ row.Age }}</td>
                    <td>{{ row.Tenure }}</td>
                    <td>{{ row.Balance }}</td>
                    <td>{{ row.NumOfProducts }}</td>
                    <td>{{ row.HasCrCard }}</td>
                    <td>{{ row.IsActiveMember }}</td>
                    <td>{{ row.EstimatedSalary }}</td>
                    <td>{{ row.Exited }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-info">
                        <h3>EXITUS</h3>
                        <p>
                            International Data-Science Institute (IDSI) <br>
                            Yamoussoukro-Côte d'Ivoire<br><br>
                            <strong>Contact:</strong> +225 07 59 57 32 39<br>
                            <strong>Email:</strong> existus-info@exitus.ci<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 footer-links">
                        <h4>Liens</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/">Accueil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">A propos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#team">Notre équipe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>EXITUS</span></strong>. Tout droit réservé
            </div>
            <div class="credits">
                développé par <a href="https://github.com/d0m1nu5">Richmond KONGO & Michel CAMARA</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <form method="post" enctype="multipart/form-data" action="/receive-excel/" style="display: none;" id="file-form">
        {% csrf_token %}
        <input type="file" name="excel_file" id="select-file">
        <button type="submit" id="send-file">Upload</button>
    </form>
    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>
    <script>
        document.getElementById('btn-select-file').addEventListener('click', () => {
            document.getElementById('select-file').click();
        });

        document.getElementById('select-file').addEventListener('change', () => {
            console.clear(); console.log("test");
            var f = $('#select-file').val();
            if (f.length != 0) {
                console.log("envoie du fichier...");
                document.getElementById('send-file').click();
                $('#file-form').get(0).reset();
            } else {
                console.log("fichier vide.");
            }
        });
        $(document).ready(function() {
    $('#table').DataTable();
} );
    </script>

</body>

</html>